{{#partial "title" }}
    Forest Service | Welcome
{{/partial}}

{{#partial "isActive" }}active{{/partial}}

{{#partial "content"}}

{{/partial}}
{{> layout.hbs}}

<h3>Welcome to Douglas Fir Forest Service! List of animals</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Endangered</th>
        <th scope="col">Health</th>
        <th scope="col">Age</th>
        <th scope="col">Edit</th>
        <th scope="col">Sighting</th>
    </tr>
    </thead>
    <tbody>
    {{#each animals}}
        <tr>
            <th scope="row">{{ id }}</th>
            <td>{{ name }}</td>
            <td>{{ endangeredAnimal }}</td>
            <td>{{ health }}</td>
            <td>{{ age }}</td>
            <td>
                <a href="./update-animal?id={{ id }}" class="edit" title="Edit Animal" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a href="./delete-animal?id={{ id }}" class="delete" title="Delete Animal" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>
            <td>
                <a href="./add-sighting?id={{ id }}" class="view" title="Add Sighting" data-toggle="tooltip"><i class="material-icons">&#xe145;</i></a>
                <a href="./list-sighting?id={{ id }}" class="view" title="View Sighting(s)" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
